<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1>New Survey</h1>
            <form class="form" method="POST">
              <div class="form-group">
                <label for="NameTextField">Title</label>
                <input type="text" class="form-control" id="NameTextField"
                placeholder="Survey Name" name="title" value="<%= survey.title %>" required>
              </div>
              
              <div class="form-group col-md-3">
                <label for="">Survey Start Date</label>
                <input type="text" class="form-control datepicker" id=""
                placeholder="Survey start date" name="startdate" value="<%= survey.startdate %>"  required>
              </div>

              <div class="form-group col-md-3">
                <label for="">Survey End Date</label>
                <input type="text" class="form-control datepicker" id=""
                placeholder="Survey end date" name="enddate" value="<%= survey.enddate %>"  required>
              </div>

              <div class="form-group">
                <label for="NameTextField">Questionn #1</label>
                <input type="text" class="form-control" id=""
                placeholder="Questionn #1" name="q1" value="<%= survey.q1 %>" required>
              </div>

              <div class="form-group">
                <label for="NameTextField">Questionn #2</label>
                <input type="text" class="form-control" id=""
                placeholder="Questionn #2" name="q2" value="<%= survey.q2 %>" required>
              </div>

              <div class="form-group">
                <label for="NameTextField">Questionn #3</label>
                <input type="text" class="form-control" id=""
                placeholder="Questionn #3" name="q3" value="<%= survey.q3 %>" required>
              </div>

              <div class="form-group">
                <label for="NameTextField">Questionn #4</label>
                <input type="text" class="form-control" id=""
                placeholder="Questionn #4" name="q4" value="<%= survey.q4 %>" required>
              </div>

              <div class="form-group">
                <label for="NameTextField">Questionn #5</label>
                <input type="text" class="form-control" id="NameTextField"
                placeholder="Questionn #5" name="q5" value="<%= survey.q5 %>" required>
              </div>

              <button class="btn btn-primary " type="submit">
                <i class="fas fa-edit"></i> Submit</button>
            
                <a href="/survey-list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel</a>
            </form>
                

        </div>

    </div>
</div>



<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>