<!-- 
    register.ejs template -- register page
    File name: register.ejs
    Name: Sarabun Tohura
    Student no: 300685525
    Date: 2021-06-17
 -->


<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<div class="container" style="background-color: cornsilk;">
    <% if(messages.length > 0) {%>
        <div class="alert alert-danger">
            <%= messages %>
        </div>
    <% } %>
    <div class="row">
        <div class="offset-md-4 col-md-4">
            <h1>Please Register</h1>

            <form method="POST" autocomplete="off">
                <fieldset class="form-group">
                    <label for="username">Username: </label>
                    <input type="text" class="form-control"
                    id="username"
                    placeholder="Enter username"
                    name="username" required autofocus>
                </fieldset>

                <fieldset class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" class="form-control"
                    id="password"
                    placeholder="Enter password"
                    name="password" required>                    
                </fieldset>

                <fieldset class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" class="form-control"
                    id="email"
                    placeholder="Enter Email Address"
                    name="email" required>                    
                </fieldset>

                <fieldset class="form-group">
                    <label for="displayName">Display Name: </label>
                    <input type="text" class="form-control"
                    id="displayName"
                    placeholder="Enter Display Name"
                    name="displayName" required>                    
                </fieldset>
                <fieldset class="form-group text-right">
                    <button type="submit" class="btn btn-primary">Register</button>                    
                    <a href="/">
                         <input type="button" class="btn btn-warning" value="Cancel">
                    </a>
                    <font color="red"><h3>TO DO</h3></font>
                </fieldset>
            </form>
        </div>

    </div>
</div>

<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>